

.allTrips{
    width: 90%;
    margin: 50px auto;
    color: #77002e;
    
    .tripContainer{
        width: 100%;
        display: flex;
        margin-bottom: 75px;

        @media(max-width:800px) { flex-flow: column;}

        .imageContainer{
            position: relative;
            width: 50%;
            margin: 25px 0 0 0;

            @media(max-width:800px){width: 90%; margin: auto; display: flex; justify-content: center;} 

            img{ 
                width: 100%; height: 450px; 
                box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5), 0 0 35px 0 rgba(0, 0, 0, 0.5);

                @media(max-width:450px){ width: 90%;}

                &:hover{ cursor: pointer; filter: sepia(45%); }
            }
        }

        .infoContainer{
            padding-left: 25px;
            width: 50%;
            position: relative;

            @media(max-width:800px){ width: 90%; margin: auto;} 
    
            h1{
                margin: 0 0 10px 0;
                font-size: 2.5rem;
                text-shadow: 0 2px 2px black;

                @media(max-width:800px){text-align: center;}
            }
            p{
                margin: 0;  padding: 0 5px 0 16px; line-height: 25px;
                font-weight: bold; font-size: 1.15rem;
                color: black;
            }

            a{
                position: absolute; bottom: 0; left:50%; transform: translateX(-50%);
                text-decoration: none;
                padding: 10px;
                font-size: 1.5rem; font-weight: bold;
                background-color: #77002e; color: #fff;
                border-radius: 25px;

                @media(max-width:800px) { position:relative; display: block; text-align: center; margin: 15px 0 15px 0;}

                &:hover{ cursor: pointer; color:#77002e; background-color: #fff; outline: 1px solid #77002e;}
            }

            .price{
                position: absolute; bottom: 0;
                display: flex; align-items: center; justify-content: center;
                font-size: 1.5rem;
                color: darkgreen;
                @media(max-width:800px){  position:relative; display: block; text-align: center; margin-bottom: 25px; }
            }
        }
    }
    
}